.btn_more{
    background-image: url(https://hsto.org/webt/9l/m9/lk/9lm9lkw5g9pcbkeeolew26yakkw.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    min-height: 150px;
}